<p>
    Best regards,
</p>

<p>
	{{name}}{{^name}}[NAME]{{/name}}<br>
	{{title}}{{^title}}[TITLE]{{/title}}
</p>

<a href="https://neuronicworks.com/" target="_blank"><img width="176" src="http://www.neuronicworks.com/wp-content/uploads/2015/12/neuronic_works_logo.png"></a>

<br>

<i><b>Our Design, Your Success!</b></i>

<p>
    <a href="tel:4165461575" target="_blank">(416) 546-1575</a> | <a href="tel:18445461575" target="_blank">(1-844) 546-1575</a>
</p>

<a href="https://www.linkedin.com/company/neuronicworks-inc-" target="_blank"> <img height="25" src="http://drive.google.com/a/neuronicworks.com/uc?export=view&amp;id=0B8stEDjUbWm-NHEwSEVyX0ZPazQ" style="vertical-align:middle"></a>
<a href="https://twitter.com/neuronicworks" target="_blank"> <img height="25" src="http://drive.google.com/uc?export=view&amp;id=0B8stEDjUbWm-YUIxZU9DTnlQb2s" style="vertical-align:middle"></a>
<a href="https://www.facebook.com/neuronicworks" target="_blank"> <img height="25" src="http://drive.google.com/uc?export=view&amp;id=0B8stEDjUbWm-cDl0X1B2QkxtVTA" style="vertical-align:middle"></a>
<a><img height="25" src="http://drive.google.com/uc?export=view&amp;id=0B8stEDjUbWm-THMxV3ZnWWFKeWc" style="vertical-align:middle"></a><br>
