<p>
    Best regards,
</p>

<p>
    {{ name }},<br>
    {{ position }}
</p>

<p>
    <b>NeuronicWorks</b>
    Our Design, Your Success
</p>

<a href="tel:4165461575">(416) 546-1575</a>
Skype: NeuronicWorks

<img src="http://www.neuronicworks.com/wp-content/uploads/2015/12/linkedin.jpg">
<img src="http://www.neuronicworks.com/wp-content/uploads/2015/12/twitter.jpg">
<img src="http://www.neuronicworks.com/wp-content/uploads/2015/12/g-plus.jpg">

<img src="http://www.neuronicworks.com/wp-content/uploads/2015/12/neuronic_works_logo.png">